beautifulsoup4==4.13.4
Flask==3.1.0
google_search_results==2.4.2
huggingface_hub==0.30.2
mammoth==1.9.0
markdownify==1.1.0
pandas==2.2.3
pathvalidate==3.2.3
pdfminer==20191125
Pillow==11.2.1
puremagic==1.28
pydub==0.25.1
pytubefix==8.12.3
Requests==2.32.3
smolagents==1.13.0
tenacity==9.1.2
youtube_transcript_api==1.0.3
